In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('stock_report.xlsx')

In [3]:
columns = list(df.columns)
print(columns)
position= int(input('Enter the positon of the column to be taken as a primary key:'))
print(columns[position],'is the primary key')

['Date', 'Open', 'High', 'Low', 'Close']
Enter the positon of the column to be taken as a primary key:0
Date is the primary key

In [51]:
def refine(arg):
    Mysql_types = ['datetime','float','intiger']
    panda_types = ['time','float','int']
    for i in range(3):
        if str(panda_types[i] in str(arg)):
            print(i,panda_types[i],arg,panda_types[i] in str(arg))
            return (Mysql_types[i])

In [52]:
column_types = []
for i in columns:
    column = (df.loc[0,i])
    panda_type = [str(type(column))]
    mysql_type = refine(panda_type)
    print(mysql_type)
    column_types+= [mysql_type]
column_types

0 time ["<class 'pandas._libs.tslibs.timestamps.Timestamp'>"] True
datetime
0 time ["<class 'numpy.float64'>"] False
datetime
0 time ["<class 'numpy.float64'>"] False
datetime
0 time ["<class 'numpy.float64'>"] False
datetime
0 time ["<class 'numpy.float64'>"] False
datetime

['datetime', 'datetime', 'datetime', 'datetime', 'datetime']

In [13]:
str(df.iloc[0,0])

'2013-01-01 00:00:00'

In [10]:
for i in column_types:
    print(type(i))

<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>